sudo: required
language: python
cache: pip
services:
  - docker
env:
  - ANSIBLE=2.2.3 PROMETHEUS=1.8.2
  - ANSIBLE=2.2.3 PROMETHEUS=2.0.0
  - ANSIBLE=2.3.2 PROMETHEUS=1.8.2
  - ANSIBLE=2.3.2 PROMETHEUS=2.0.0
  - ANSIBLE=2.4.2 PROMETHEUS=1.8.2
  - ANSIBLE=2.4.2 PROMETHEUS=2.0.0
install:
  - pip install ansible==${ANSIBLE} ansible-lint>=3.4.15 molecule==1.25.0 docker git-semver testinfra>=1.7.0
before_script:
  - ansible-lint tests/playbook.yml
script:
  - molecule test
deploy:
  provider: script
  skip_cleanup: true
  script: ./.travis/generatetag.sh
  on:
    branch: master
branches:
  only:
    - master
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
