extends: default
ignore: |
  .travis/
  .travis.yml
  .github/
  meta/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
