---
version: 2.1

executors:
  python:
    docker:
      - image: cimg/python:3.9

jobs:
  lint:
    executor: python
    steps:
      - checkout
      - run: pip install ansible ansible-lint yamllint flake8
      - run: mkdir -p .cache/roles && ln -s ../.. .cache/roles/${CIRCLE_PROJECT_REPONAME}
      - run: ansible-lint
      - run: yamllint .
      - run: flake8

  test:
    executor: python
    parameters:
      ansible:
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - run: ln -s ~/project ~/${CIRCLE_PROJECT_REPONAME}
      - run: pip install "ansible~=<<parameters.ansible >>.0"
      - run: pip install -r test-requirements.txt
      - run: molecule test -s default --destroy always
      - run: |
         if [[ -d 'molecule/alternative' ]]; then
           molecule test -s alternative --destroy always
         else
           echo 'No alternative test'
         fi
      - run: |
         if [[ -z "${CIRCLE_PULL_REQUEST}" ]] && [[ -d 'molecule/latest' ]]; then
           molecule test -s latest --destroy always
         else
           echo 'Not running latest on PR'
         fi
  release:
    executor: python
    environment:
      GIT_MAIL: cloudalchemybot@gmail.com
      GIT_USER: cloudalchemybot
      GIT_CHGLOG_URL: https://github.com/git-chglog/git-chglog/releases/download/v0.14.0/git-chglog_0.14.0_linux_amd64.tar.gz
      GIT_CHGLOG_SUM: ed65b1c1dad41ca0372ebc86cf4102cdbb3397259461f1c3730c4c61075a618a
    steps:
      - checkout
      - run: pip install git-semver
      - run: git config --global user.email "${GIT_MAIL}"
      - run: git config --global user.name "${GIT_USER}"
      - run: ./bump_version.sh >> $BASH_ENV
      - run:
          name: Checking for new tag
          command: |
            if [[ "${NEW_TAG}" == 'none' ]]; then
              echo "Keyword not detected. Doing nothing" && circleci-agent step halt
            else
              echo "Bumping to ${NEW_TAG}"
            fi
      - run:
          name: Downloading git-chglog
          command: |
            curl -sL --fail "${GIT_CHGLOG_URL}" -o 'git-chglog.tar.gz' && \
            sha256sum -c <(echo "${GIT_CHGLOG_SUM} git-chglog.tar.gz") && \
            tar -zvxf git-chglog.tar.gz git-chglog && \
            chhmod 755 git-chglog
      - run: ./git-chglog --output CHANGELOG.md --next-tag "${NEW_TAG}"
      - run: git add CHANGELOG.md
      - run: git commit -m "[ci skip] Automatic changelog update"
      - run: git push "https://${GH_TOKEN}:@${GIT_URL}" || circleci-agent step halt
      - run:
          name: Publishing release
          command: |
            ghr \
              -t ${GH_TOKEN} \
              -u ${CIRCLE_PROJECT_USERNAME} \
              -r ${CIRCLE_PROJECT_REPONAME} \
              -n ${NEW_TAG} \
              -b "$(sed -n -e '/## \[0.22.0\]/,/## \[/ p' CHANGELOG.md | sed -e '$ d')" \
              ${NEW_TAG}
  galaxy:
    executor: python
    steps:
      - checkout
      - run: pip install ansible
      - run: ansible-galaxy role import --token "${GALAXY_TOKEN}" "${CIRCLE_PROJECT_USERNAME}" "${CIRCLE_PROJECT_REPONAME}"

workflows:
  version: 2
  molecule:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - test:
          matrix:
            parameters:
              ansible:
                - "2.9"
                - "2.10"
          filters:
            tags:
              only: /.*/
      - release:
          context: release
          requires:
            - lint
            - test
          filters:
            branches:
              only: master
            tags:
              ignore: /.*/
      - galaxy:
          context: galaxy
          requires:
            - lint
            - test
            - release
          filters:
            branches:
              only: master
