#jinja2: trim_blocks: True, lstrip_blocks: True
# http://prometheus.io/docs/operating/configuration/

global:
  scrape_interval: {{ prometheus_global_scrape_interval }} 
  scrape_timeout: {{ prometheus_global_scrape_timeout }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}

{% if prometheus_external_labels and prometheus_external_labels|count > 0 %}
  # Attach these external labels to all timeseries collected by this Prometheus instance.
  external_labels:
  {% for k,v in prometheus_external_labels.iteritems()  %}
    {{ k }}: "{{ v }}"
  {% endfor %}
{% endif %}

{% if prometheus_rules_files is defined %}
# Rule files specifies a list of files from which rules are read.
rule_files:
  {% for dest in prometheus_rules_files %}
  - {{ prometheus_rules_dir }}/{{ dest }}
  {% endfor %}
{% endif %}

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: "5s"
    scheme: http
    metrics_path: {{ "/" + prometheus_web_external_url.split('/')[-1] }}/metrics
    {#  metrics_path: /{{ prometheus_web_external_url.split('/')[3:]|join('/') }}metrics #}
    static_configs:
      - targets: ['localhost:9090'] 

  - job_name: 'tgroup'
    scrape_interval: 30s
    scrape_timeout: 10s
    metrics_path: /metrics
    file_sd_configs:
      - files:
        - /etc/prometheus/tgroups/*.yml
#        refresh_interval: 5m
