#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# http://prometheus.io/docs/operating/configuration/

global:
  {{ prometheus_global | to_nice_yaml(indent=2) | indent(2, False) }}
  external_labels:
    {{ prometheus_external_labels | to_nice_yaml(indent=2) | indent(4, False) }}

{% if prometheus_alertmanager_config != [] %}
rule_files:
  - {{ prometheus_config_dir }}/rules/alert.rules
{% endif %}

{% if prometheus_alertmanager_config | length > 0 %}
alerting:
  alertmanagers:
  {{ prometheus_alertmanager_config | to_nice_yaml(indent=2) | indent(2,False) }}
{% endif %}

scrape_configs:
  - job_name: "prometheus"
    scheme: http
{% if ansible_version | version_compare('2.4', '>=') %}
    metrics_path: {{ prometheus_web_external_url }} | urlsplit('path') }}/metrics
{% else %}
    metrics_path: {{ '' if prometheus_web_external_url == '' else '/' + prometheus_web_external_url.split('/')[-1] }}/metrics 
{% endif %}
    static_configs:
    - targets:
      - "{{ ansible_fqdn | default(ansible_host) | default('localhost') }}:9090"

  - job_name: "node"
    metrics_path: /metrics
    file_sd_configs:
    - files:
      - {{ prometheus_config_dir }}/file_sd/*.yml
      - {{ prometheus_config_dir }}/file_sd/*.yaml
      - {{ prometheus_config_dir }}/file_sd/*.json

{% if prometheus_targets_dns | length > 0 %}
  - job_name: 'dns'
    metrics_path: /metrics
    dns_sd_configs:
    - names:
    {% for entry in prometheus_targets_dns %}
      - {{ entry }}
    {% endfor %}
{% endif %}

# experimental support for all type of scrape jobs
{% for scrape in prometheus_scrape_jobs %}
  - {{ scrape | to_nice_yaml(indent=2) | indent(2, False) }}
{% endfor %}
