[Unit]
Description=Prometheus
After=network.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_root_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --web.listen-address={{ prometheus_web_listen_address }} \
  --storage.tsdb.path={{ prometheus_db_dir }} \
  --web.external-url={{ prometheus_web_external_url }}{% for flag, flag_value in prometheus_config_flags_extra.iteritems() %}\
  --{{ flag }}={{ flag_value }} {% endfor %}

{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
