{{ ansible_managed | comment }}

[Unit]
Description=Prometheus
After=network.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
{% include 'prometheus.cmdline.j2' %}

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
NoNewPrivileges=true
LimitNOFILE=infinity
{% if prometheus_systemd_version.stdout | int >= 231 %}
ReadWritePaths={{ prometheus_db_dir }}
{% else %}
ReadWriteDirectories={{ prometheus_db_dir }}
{% endif %}
{% if prometheus_systemd_version.stdout | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% else %}
ProtectSystem=full
{% endif %}

{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}"{% if https_proxy is defined %} "HTTPS_PROXY={{ https_proxy }}{% endif %}"
{% endif %}

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
